@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700,900|Roboto+Mono:400,500|Lato:300,400,700,900|Roboto+Slab|Roboto:400,700,900');

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Lato', sans-serif
}
body p {
	font-size: 1.1em;
}
#projects a {
	font-size: 1.2em;
}
#home {
	outline: none;
}
.blog-content p {
	font-family: 'Merriweather', 'Georgia', serif;
	color: #333;
	font-weight: 400;
	line-height: 1.6;
}
.icon-button {
	vertical-align: bottom;
	font-size: .8em !important;
	padding-left: 8px;
}
.container {
	box-sizing: border-box;
	width: 100%;
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1.25em;
	padding-right: 1.25em;
	padding-bottom: 2em;
	max-width: 720px;
}
.copyright-container {
	box-sizing: border-box;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1.25em;
	padding-right: 1.25em;
	max-width: 720px;
	font-size: .75em;
}
.margin-left {
	margin-left: 10px;
}
strong {
 font-weight: bold;
}
a.btn strong {
	padding: .75em 1em;
}
header {
	padding: 40px 20px 30px 20px;
	height: calc(90vh - 100px);
	max-height: 720px;
}
div.fixed-action-btn {
	top: 17px;
	right: 25px;
	display: none !important;
}
.btn-floating {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
.scroll-up-icon {
	position: relative;
	bottom: 30px;
	font-size: 2em !important;

}
#skills {
	outline: none;
}
#josh-logo {
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 18px;
}
.margin-top {
	margin-top: 30px;
}
.group {
	max-width: 1080px;
	margin: 0 auto;
}
.sidenav li a {
  color: white;
}
.nav-item {
	font-family: 'Lato', sans-serif;
	color: #333;
	font-weight: 700;
	text-transform: uppercase;
}
.blog-title {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 3em;
}
.blog-tagLine {
	font-family: 'Merriweather', 'Georgia', serif;
	font-weight: 400;
	font-size: 1.25em;
	color: rgba(0,0,0,.54);
	position: relative;
	bottom: 20px;
}
.blog-tagLine-condense {
	font-family: 'Merriweather', 'Georgia', serif;
	font-weight: 400;
	font-size: 1.25em;
	color: rgba(0,0,0,.54);
	position: relative;
	bottom: 25px;
}
.blog-content p {
	color: rgba(0,0,0,.84);
	line-height: 2.0;
	font-size: 1.25em;
}
.blog-content h1, h2, h3, h4 {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 2em;
}
.blog-content div.highlight {
	background: #eff0f1;
}
.highlight code {
	font-family: 'Roboto Mono', monospace;
	font-weight: 500;
	white-space: pre-wrap;
}
.blog-content img {
	max-width: 100%;
  height: auto;
}
.blog-info {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 1.0em;
}
.blog-minutes {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1.0em;
	rgba(0,0,0,.54);
	position: relative;
	bottom: 10px;
	margin-bottom: 30px;
}
.blog-minutes-condense {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1.0em;
	rgba(0,0,0,.54);
	position: relative;
	bottom: 8px;
}
.latest-entries {
	padding-top: 50px;
}
#technicalExperience-anchor, #skills-anchor, #contact-anchor {
	display: block;
	position: relative;
	top: -50px;
	visibility: hidden;
}
#contact-anchor {
	padding-top: 50px;
}
.box {
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.box span {
	display: block;
	width: 25px;
	height: 25px;
	border-bottom: 2px solid;
	border-right: 2px solid;
	transform: rotate(45deg);
	margin: -10px;
	animation: animate 2s infinite;
}
.box span:nth-child(2) {
	animation-delay: -0.2s;
}
.box span:nth-child(3) {
	animation-delay: -0.4s;
}
.margin-bottom {
	margin-bottom: 50px;
}

@keyframes animate {
	0% {
		opacity: 0;
		transform: rotate(45deg) translate(-5px,-5px);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: rotate(45deg) translate(5px,5px);
	}
}
#projects {
	outline: none;
	margin-top: 0;
	padding-top: 30px;
}
#skills {
	padding: 20px 0px
}
.row-spacer {
	margin-bottom: 60px;
}
.main-title {
	font-family: 'Roboto Slab', sans-serif;
	font-size: 1.5em;
	font-weight: 700;
	margin-bottom: 0px;
	text-shadow: 0px 0px 60px white, /* mulitple shadows = more intense */
							 0px 0px 60px white,
							 0px 0px 60px white,
							 0px 0px 60px white;
}
.sub-title {
	font-family: 'Merriweather', serif;
	text-shadow: 0px 0px 60px white, /* mulitple shadows = more intense */
							 0px 0px 60px white,
							 0px 0px 60px white,
							 0px 0px 60px white;
}
.no-margin {
	margin: 0;
}
.page-footer {
	padding-top: 50px;
}
.footer-link {
	color: white;
}
.footer-link:hover {
	color: #90caf9;
}
.blog-container {
	margin-left: auto;
	margin-right: auto;
	max-width: 42rem;
	padding: 0 1.3125rem 0r;
}
.project-info-left {
	text-align: left;
}
.project-info-right {
	text-align: right;
}
#projects .project-img {
	max-width: 500px;
	height: auto;
	width: 100%;
}
@media screen and (max-width: 576px) {
	/* .blog-container {
		margin: 0 0;
	} */
	.project-info-left, .project-info-right {
		text-align: center;
		background-color: pink;
	}
	.highlight code {
		font-family: 'Roboto Mono', monospace;
		font-weight: 500;
		white-space: pre-wrap;
		font-size: .8em;
	}
}
@media screen and (max-width: 768px) {
	/* .blog-container {
		margin: 0 5vw;
	} */
	#josh-logo {
		padding-left: 0;
	}
}
@media screen and (max-width: 992px) {
	/* .blog-container {
		margin: 0 5vw;
	} */
}
@media screen and (max-width: 1200px) {
	/* .blog-container {
		margin: 0 15vw;
	} */
	#josh-logo {
		padding-left: 20px;
	}

}



/* change highlight color */
::-moz-selection { /* Code for Firefox */
  background: #01FEFE;
}
::selection {
  background: #01FEFE;
}



/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

.sidenav-footer {
	overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
	height: 30vh;
}
.sidenav-footer a {
	float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.gray {
	color: gray;
}
.icons {
	font-size: 6em;
}
.caption {
	font-size: 14px;
	font-weight: bold;
	text-align: center !important;
	margin-top: -25px;
	padding-left: 20px;
}
.skill-icon {
	max-height: .8em;
	width: auto;
	margin: 0 20px;
}
[data-icon="logos:materializecss"] {

}
[data-icon="mdi:language-ruby-on-rails"] {
	color: #B02B2C;
}
.social-icons {
	padding-top: 5vh;
}
